* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 27);
	position: absolute;
	right: 7vh;/*37vw*/
	top: 25vh;
	z-index: -1;
}
.main-header {
	height: 80vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 4);
	position: absolute;
	width: min-content;
	top: 50%; /*12vh*/
	/* line-height: .9; */ 
}
.main-title span{
	margin-top: 20px;
	color: rgb(255, 136, 0);
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	
	max-height: 180vh;
	border-radius: 8px;
}
.hover-effect{
	margin-bottom: var(--gallery-gap);
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__left .hover-effect{
	margin-top: 60px;
}
.gallery__left .hover-effect:first-child{
	margin-top: 0;
}
.gallery__right .hover-effect {
	margin: 0;
	margin-top: var(--gallery-gap);
	margin-bottom: 40px;
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
/*footer*/
.footer{
	background-color: #1C1C1C;
	padding: 60px 0 48px 0;
}

.footer-flex{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	align-items: center;
}

.first-footer-flex{
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
.first-footer-flex .logo{
	width: 120px;
	height: 50px;
	background-color: #fff;
	color:#1C1C1C;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.footer-social-link ul{
	display: flex;
	justify-content: flex-end;
	column-gap: 20px;
	align-items: center;
	margin-bottom: 10px;
}

.footer-social-link ul li a{
	display: flex;
	align-items: center;
	transition: .3s;
	position: relative;
}
.footer-social-link ul li a:hover svg{
	transition: .3s;
	fill: #fc7100;
}
.footer-social-link ul:last-child li a::before{
	content: "";
	position: absolute;
	bottom: -4px;
	height: 2px;
	border-radius: 4px;
	background-color: #fafafa;
	transition: .3s;
	width: 0%;
}
.footer-social-link ul:last-child li a:hover svg{
	fill: #fafafa;
}
.footer-social-link ul:last-child li a:hover::before{
	transition: .3s;
	width: 100%;
}
.footer-social-link ul li a svg{
	fill: #fafafa;
}
li{
	list-style-type: none;
}
a{
	text-decoration:none;
	color: #fafafa;
}


.footer-bottom-link{
	display: flex;
	flex-direction: row;
}
.footer-bottom-link li:last-child{
	margin-left: 100px;
}

.send-form-btn{
	max-width: 430px;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #DF020B;
	font-size: 20px;
	font-weight: 900;
	border-radius: 8px;
	transition: .3s;
	/* position: absolute; */
	position: relative;
}
/* btn hover effect */
.send-form-btn::after,
.send-form-btn::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.send-form-btn::after {
    top: -15px;
    left: -15px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.send-form-btn::before {
    bottom: -15px;
    right: -15px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.send-form-btn:hover {
    color: #fafafa;
	opacity: .87;
}

.send-form-btn:hover::after,
.send-form-btn:hover::before {
    width: 50px;
    height: 50px;
    border-color: red;
}
/* btn hover effect */
.send-form-btn-modificate{
	position: relative;
	left: 7vw;
}

/* hover-effect images */
.hover-effect{
	max-width: calc(var(--index) * 21);
	height: fit-content;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.hover-effect img{
}
.hover-effect:hover .hover-effect-text{
	transition: .5s;
	opacity: 1;
	display: flex;
}
.hover-effect:hover img{
	border-radius: 50%;
	transition: .5s;
}
.hover-effect-text{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	text-align: center;
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(0,0,0,.7);
	opacity: 0;
	backdrop-filter: blur(2px);
	display: none;
	
}
.hover-effect-text::before{
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	animation: rot infinite 5s linear;
	border: 2px dashed #fafafa;
	transform-origin: center;
	border-radius: 50%;
}
@keyframes rot{
	100%{
		transform: rotate(360deg);
	}
}
.hover-effect-text h4{
	font-weight: 700;
	font-size: 18px;
	letter-spacing: .5px;
	margin-bottom: 20px;
}
.hover-effect-text p{
	font-size: 16px;
	line-height: 27px;
}
.hover-effect-text h4,p{
	max-width: 300px;
}
/* form-wrapper */
.form-wrapper .logo{
	padding-top: 50px;
	display: flex;
	width: 100%;
	font-weight: 900;
	letter-spacing: .5px;
	align-items: center;
	justify-content: space-between;
}
.form-wrapper{
	width: 100%;
	background-image: url('../images/form-bg-line.png'),url('../images/form-bg-doted.png');
	background-repeat: no-repeat,no-repeat;
	background-size: 200px,400px;
	background-position: 80% 10%, 50% 100%;
}

.form-flex{
	padding: 130px 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 50px;
}
/* .form-info{
	width: ;
} */
.form-info h1{
	font-size: 90px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.form-text{
	max-width: 580px;
	width: 100%;
	font-size: 16px;
	opacity: .8;
	line-height: 28px;
}
/* .form-flex form */
.form-flex form{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 50%;
}
.form-flex form input::placeholder,
.form-flex form textarea::placeholder{
	color: #1E1D1D;
	font-size: 16px;
}
.form-flex form input{
	max-width: 585px;
	width: 100%;
	height: 60px;
	border-radius: 8px;
	border: none;
	background-color: #D9D9D9;
	padding: 16px 20px;
	outline: none;
	font-size: 16px;
	color: #1C1C1C;
}
.form-flex form textarea{
	max-width: 585px;
	width: 100%;
	height: 120px;
	border-radius: 8px;
	border: none;
	background-color: #D9D9D9;
	padding: 16px 20px;
	outline: none;
	font-size: 16px;
	color: #1C1C1C;
	resize: none;
}

.form-flex form button{
	max-width: 585px;
	width: 100%;
	height: 60px;
	border: none;
	background-color: #DF020B;
	padding: 16px 20px;
	outline: none;
	font-size: 16px;
	color: #fafafa;
	cursor: pointer;
	transition: .3s;
	font-weight: 700;
}
.form-flex form button:hover{
	transition: .3s;
	transform: translateY(-3px);
	background-color: #fafafa;
	color: #191919;
}

.back{
	display: flex;
	align-items: center;
	font-size: 15px;
	color: rgb(255,255,255,.6);
	column-gap: 10px;
}
.back span{
	transform: translateX(-40px);
	transition: .3s;
	opacity: 0;
}
.back:hover span{
	transition: .3s;
	transform: translateX(0);
	opacity: 1;
}
.back svg{
	fill: #fafafa;
}


/* loader styles */
.preloader{
	color: #45d6b5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	background: #1c1b2a;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s;
  }
  
  .preloader svg{
	width: 200px;
  }
  

/* media styles adaptive */
/* 1024px */
@media(max-width:1024px){
	.form-info h1{
		font-size: 70px;
	}
}
/* 900px */
@media(max-width:900px){
	.form-info h1{
		font-size: 60px;
	}
	.form-info{
		max-width: 50%;
	}
	.form-flex form input{
		height: 50px;
	}
	.form-flex form textarea{
		height: 100px;
	}
	.form-flex form button{
		height: 50px;
	}
}

/* 800px  */
@media(max-width:800px){
	.send-form-btn-modificate{
		left: 0;
		bottom: 100px;
	}
	.send-form-btn{
		
		width: calc(100% - 40px);
	}
	/* hero-section */
	.hero-section{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	/* hero */
    .hero{
		position: relative;
		top: -5vh;
		left: 0;
	}
	/* .main-header */
	
	/* main-title */
	.main-title{
		position: relative;
		top: 40%;
		width: 100%;
		text-align: left;
	}

	.gallery{
		flex-direction: column;
	}
	/* .gallery__item */
	.hover-effect{
		max-width: 100%;
	}
	.gallery__item{
		max-width: 100%;
		max-height: fit-content;
	}
	.form-info h1{
		font-size: 45px;
	}
	
}
/* 700px  */
@media(max-width:700px){
	.form-wrapper{
		background-repeat: no-repeat,no-repeat;
		background-size: 150px,250px;
		background-position: 80% 10%, 10% 100%;
	}
	
	.form-flex{
		flex-direction: column;
		column-gap: 0;
		row-gap: 40px;
		padding: 80px 0;
	}
	.form-info{
		max-width: 100%;
	}
	.form-flex form {
		max-width: 100%;
		width: 100%;
	}
	.form-flex form input{
		height: 40px;
	}
	.form-flex form textarea{
		height: 80px;
	}
	.form-flex form button{
		height: 40px;
		padding: 0;
	}
	
}
/* 500px */
@media(max-width:500px){
	.footer-social-link ul:last-child{
		flex-direction: column;
		align-items: flex-end;
		row-gap: 15px;
		margin-top: 20px;
	}
	/* .footer-bottom-link{
		justify-content: space-between !important;
	}
	.footer-bottom-link li:last-child{
		margin-left: auto;
	} */
	.main-title{
		position: relative;
		top: 40%;
		width:min-content;
		text-align: center;
		font-size: calc(var(--index) * 5);
	}
	.form-wrapper{
		background-repeat: no-repeat,no-repeat;
		background-size: 100px,250px;
		background-position: 80% 10%, 10% 100%;
	}

	/* .hover-effect-text h4{
		font-size: 18px;
	} */
	.hover-effect-text p{
		font-size: 14px;
		max-width: 260px;
		width: 100%;
	}
}
/* 400px */
@media(max-width:400px){
	.footer-flex .logo{
		width: 100px;
	}
	.main-header{
		height: 70vh;
	} 
	/* main title  */
	
	.footer-bottom-link li:last-child{
		margin-left: 50px !important;
	} 
}